<style>

		@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
		@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');
		body {
			
			} body, html {
				height: 100%;
				margin: 0;
				font-family: 'Sarabun', sans-serif;
			}

			* {
				box-sizing: border-box;
			}

			.bg-image {
				
				/* The image used */
				/*background-image: url("web/images/hen.jpg");*/

				/* Add the blur effect */
				filter: blur(8px);
				-webkit-filter: blur(8px);

				/* Full height */
				height: 100%; 

				/* Center and scale the image nicely */
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			/* Position text in the middle of the page/image */
			.bg-text {

				background-color: rgb(0,0,0); /* Fallback color */
				background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
				color: white;
				
				
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				width: 80%;
				padding: 20px;
				
			}
			.icon_text {
				padding-top: 10px;
				font-size: 25px;font-family: 'Mitr', sans-serif;
			}
			@media (max-width: 800px) {
				
				.bg-text{
					position: center;
				}
				.icon_text{
					font-size: 10px;
				}
			}

			/* Standard syntax */
		</style>